@import 'utilities';

$primary-color :#3D351A;
$highlights :#DEB837;
$cta:#FFD549;

body{
  color: $primary-color;
  font-family: 'Roboto', sans-serif;
}

// header start 
header{
  height: 80px;
  border-bottom: 2px solid rgba(222, 184, 55, 0.12);
}

.logo{
  &-text{
      margin-top: 19px; //think about it!
      font-size: 12px;
      margin-left: 8px ;
      line-height: 1%;
      font-weight: 300;

      .store{
        font-size: 10px;
      }

    .name{
      font-weight: 900;

      .diff{
        color: $highlights;
      }
    }
  }
}

.nav{
  ul{
    margin:auto 0;
    font-size: 12px;

    li:not(:first-child){
        margin-left: 30px;
    }
  }
}

.phone{
  span{
    font-weight: 700;
    font-size: 15px;
  }

  a{
    margin-left: 25px;
    font-size: 12px;
    color: $cta;
    border:1px solid $cta;
    padding: 8px 28px;
  }
}

// header end

// showcase start
.showcase{
  height: 80vh;
  margin-bottom: 100px;
}

.offer{

  .circle{
    position: absolute;
    width: 297px;
    height: 309px;
    left: -2%;
    top: 16%;
    border-radius: 100%;
    background: rgba(250, 245, 227, 0.58);
    z-index: -1;
  }

  &-sentence{
    font-weight: 900;
    font-size: 36px;
    padding-left: 14px;
    border-left: 3px solid $highlights;
  }

  &-par{
    font-size: 13px;
    font-weight: 400;
    margin-left: 14px;
  }

  a{
    display: inline-block;
    margin-left: 14px;
    margin-top: 10px;
    font-weight: 900;
    font-size: 14px;
    background: $cta;
    padding:12px 63px;
    filter: drop-shadow(4px 8px 14px rgba(0, 0, 0, 0.1));
  }

 
}

.offer-book{
  background: linear-gradient(0deg, rgba(61, 53, 26, 0.69), rgba(61, 53, 26, 0.69)), url('../images/bg.jpg') no-repeat center center;
  box-shadow: 13px 9px 23px rgba(0, 0, 0, 0.25);
  color: #fff;
  width: 670px;
  height: 573px;
  padding:26px 33px;

.about-book{
  margin-top: 371px;
  height: 80px;
  line-height: 70%;
  margin-left: 38px;
  padding-left: 8px;
  border-left: 2px solid #FFFFFF;;

  font-size: 17px;

  h3{
    font-size: 20px;
    font-weight: 900;
    }

  .author{
    font-weight: 400;
  }

  .price{
    font-weight: 700;
  }
  
}

a{
  bottom: 0;
  right: 0;
}
}

//showcase end

//new start
.new{
  margin-bottom: 110px;
}

.rec{
  background: red;
  height: 90px;
  width: 90px;
}

button[type="button"]{
  color: #000;
}

.carousel-item {
  .row{
    padding-bottom: 40px;
  }
}



.card{
  &:not(:last-child){
    margin-right: 30px;

  }
  position: relative;
  width: 307px;
  height: 378px;
  padding: 18px 44px;
  box-shadow: 8px 13px 22px rgba(0, 0, 0, 0.1);

  img{
    width: 156px;
    height: 231px;  
    display: inline-block;
    margin: 0 auto;

  }

  &-text{
    font-weight: 300;
    font-size: 15px;
    text-transform: capitalize;
  }

  &-body{
    .arrow{
     background: url('../images/Arrow\ 2.svg') center center no-repeat;
     bottom: 40px;
     right: 0px;
    width: 19.08px;
    height: 0px;

    }
  }
  
}

.carousel-control-prev{
  left: -48px;
  width: 20px;
}

.carousel-control-next{
  width: 20px;
  right: -48px;
}

//new end

//editor start
.editor{
  .card{
    font-size: 14px;
    width: 420px;
    height: 388px;
    background: url('../images/Bookmark.png') right top no-repeat;
    box-shadow: 7px 12px 18px rgba(0, 0, 0, 0.15);
    img{
      width: 165px;
      height: 239px;
      margin: 0;
    }

    ul{
      margin-top: 100px;
      margin-left: -10px;
    }

    &-body{
      padding: 16px 0;

      a{
        bottom: 32px;
      }
    }
  }
}