@font-face {
  font-family: futura-pt;
  src: url("fonts/futura-pt-book.2dadbb3c03c1.woff2"),
       url("fonts/futura-pt-book-oblique.f859db99cda9.woff2"),
       url("fonts/futura-pt-medium.b650e9c2aaf6.woff2");
}

:root{
  --bluehHighlights : #0000ff;
  --plusOrMinus :"+";
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: futura-pt,Avenir,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Helvetica,Arial,sans-serif;
  letter-spacing: 0.5;
  background: #eee;
}

.container{
  background: #fff;
}

a{
  text-decoration: none;
  color: black;
}

ul{
  list-style: none;
}

p{
  width:50%;
  margin: 0 auto;
}

/* end of general */

/* header start */
#menu-section{
  border-bottom:2px solid #eee;
  padding: 0 40px;
}

#header{
  height:70px;
  display: flex;
  font-size: 1.2rem;
  line-height: 1.5;
  text-transform: capitalize;
  justify-content: space-between;
  align-items: center;
}

/* logo start */

.logo a{
  display: flex;
}

.left{
  display: flex;
}

.left .bar{
  width:4px;
  height: 29px;
  background: #000;
  margin-right: 4px;
}

.right .bar{
  width:29px;
  height: 4px;
  background: #000;
  margin-bottom: 4px;
} 

/* logo end */


nav{
  display: flex;
  align-items: center;
}

/* .spec::after{
  content: var(--plusOrMinus);
  font-size: 1.7rem;
  position: absolute;
  top: -7px;
  right:-23px;

}  */

nav ul{
  display: flex;
  align-items: center;

}

.additional ul{
  display: flex;
  align-items: center;
}

nav ul li{
  margin-left: 40px;
}

.additional ul li{
  margin-left: 30px;
  text-transform: none;
}


.log_in{
  font-size: 1rem;
}

.try{
  color: var(--bluehHighlights);
}

.menu{
  font-size: 1.25rem;
  padding-bottom: 50px;
  display: none;
}

.menu-heading{
  font-size: 1.8rem;
  font-weight: bold;
  margin: 20px 0;
}

.menu-heading.more{
  margin-top: 40px;
}

.first-li{
  font-weight: bold;
}

.second-menu{
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
}

.second-menu ul{
  width: 310px;
}

.spec{
  position: relative;
  display: flex;
  align-items: center;
} 

.plusMinus{
  height:12px;
  width:12px;
  display:flex;
  justify-content:center;
  align-items:center;
  position:relative;
  margin-left:10px;
}

.vBar{
  width:2px;
  background:#000;
  height:100%;
  position:absolute;
}

.hBar{
  width:100%;
  background:#000;
  height:2px;
}

/* header end */

.fixedMenu{
  padding:20px 40px;
  background: rgba(255,255,255,0.9);
  width: 100%;
  z-index: 100;
}

.fixedMenu ul{
  display: flex;
  font-size: 1.05rem;
}

.fixedMenu ul li{
  margin-right: 40px;
}

.current a{
  color: #FF764D;
}

/* showcase */
.showcase{
  height: 87vh;
  width: 83%;
  margin: 0 auto;
  background: url("imgs/header.jpg.webp") no-repeat center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase h1{
  color: #EE5745;
  font-size: 9rem;
  font-weight: bold;
  vertical-align: middle;
}

/* first section pics start */
.pics{
  height: 100vh;
  position: relative;
}

.back{
  display: flex;
}

.white{
  background: #fff;
  width:42vw;
  height: 100vh;
}

.yellow{
  height: 100vh;
  width: 58vw;
  background: #fbffa7;
}

.front{
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

/* first section pics end */

/* second section start */
.img-video{
  background: url("imgs/poster-juanpe.jpg.webp") no-repeat;
  height:405px;
  width:720px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  cursor: pointer;
}

#Capa_1{
  fill: #fff;
}
.blue{
  width: 100px;
  height: 100px;
  background: var(--bluehHighlights);
  border-radius: 50%;
  padding-left:10px ;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe{
  display: none; /* +block */
  margin: 0 auto;
}

.under-video{
  font-size: .875rem;
  margin-top: 5px;
}

/* second section end */

/* third section start */

.pics2{
  height: 130vh;
  position: relative;
}

.green{
  height: 130vh;
  width: 58vw;
  background: #b6ffc0;
}

.front2{
  height: 130vh;
}

.left1{
  display: grid;
  gap:15vh;
  align-content: space-evenly;
}

/* third section end */


/* forth section start */
.forth img{
  display: block;
  margin: 0 auto;
}

/* forth section end */

/* fifth section start */

.pics3{
  height: 100vh;
  position: relative;
}

.purple{
  height:100vh;
  width:67%;
  background: #d5b3ff;
  margin: 0 auto;
}

.front3{
  justify-content: space-between;
  width: 90%;
  left:auto; /*to cancel the main left*/
  right:0;
}
/* fifth section end */

/* sixth section start */
.last-color{
  background: #b1c5ff;
  width:83%;
  height: 70vh;
  margin: 0 auto;
  display: flex;
  position: relative;
}

.img-left{
  background: url("imgs/photo-8.jpg") no-repeat right/cover ;
  width: 50%;
}

.last-color .text{
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-text{
  width: 63%;
}

.blue-text p{
  width: 100%;
}

.blue-text a{
  font-size: 2rem;
}

/* .blue-text a::after{
  content:">";
  margin-left: 10px;
} */
/* sixth section start */

/* footer start */

#footer{
  border-top: 2px solid #eee;
  height: 95vh;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
  position: relative;
}

#footer h1{
  margin-bottom: 70px;
}

#footer >div{
  width: 85%;
}

#footer ul li{
  margin-bottom: 7px;
}

#footer h1{
  font-size: 4rem;
}

#footer .end-link{
  font-size: .875rem;
}

#footer .title{
  font-weight: bold;
  font-size: 1.1rem;
}

.social-icons ul{
  display: flex;
}

.social-icons ul li{
  margin-right: 10px;
}

.links{
  display: grid;
  grid-template-columns: 1fr 1fr 2fr; /*repeat(3,1fr)*/
  row-gap: 50px;
  column-gap: 35px;
}

#footer p{
  width: 100%;
}

#footer .newsletter , #footer .langAndloc{
  padding-left: 30px;
}

form{
  margin-top:20px;
  font-size:0;  /*to make button stick to input*/
}

input[type="email"]{
  border:none;
  background: #eee;
  padding:10px 15px;
  width: 70%;
  font-size: 1.1rem;
  margin-right: 0;
}

form button{
  font-size: 1.1rem;
  color:#fff;
  background: var(--bluehHighlights);
  border:none;
  width:20%;
  padding:10px 20px;
  margin-left: 0; 
}

.select-container{
  display: flex;
  margin-top: 15px;
}

.custom-select {
  margin-right: 2px;
  width: 20%;
  overflow: hidden;
  background: #eee ;
  cursor: pointer;
  position: relative;
}

.custom-select:last-child{
  width: 40%;
}

.custom-select select {
  font-size: 0.8rem;
  padding: 7px 8px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}


.custom-select select:focus {
  outline: none;
}

.custom-select:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: #000 transparent transparent transparent;
}

.end-link{
  position: absolute;
  width:85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#footer .end-link ul li {
  margin-bottom: 0;
}

.left-end{
  display: flex;
  align-items: center;
}

.left-end span{
  margin-right:10px;
}


/* footer end */

/* additional classes */
img{
  max-width:100%;
  height:auto;
}

.text p{
  font-size: 1.25rem;
  margin-bottom: 120px;
}

.text p.large{
  font-size: 2rem;
  margin-bottom: 30px;
}

.text p.height{
  line-height: 1.6;
}

.section{
  margin-bottom: 120px;
}

.show{
  display: block;
}

.hide{
  display:none;
}

.fixed{
  position: fixed;
  top: 0;
}

.fixed + .showcase {
  margin-top: 72px;
}
.inline-ul{
  display: flex;
}

.inline-ul li{
  margin-right: 30px;
}

/* media */

@media (min-width:1500px){
  .container{
    width:85%;
    margin: 0 auto;
  }

  .forth img{
    width:80%;
  }
}